

{%extends 'myapp/template/index1.html'%}


{% block content1 %}

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-5">
  	<div class="card card-success" style="margin-top: 10px;background-color: blue;">

              <div class="card-header">
                <h3 class="card-title">update user</h3>
              </div>
              <!-- /.card-header -->
             {% include "registration/messages.html" %}
 
              </div>
              <form role="form" action="{% url 'userUpdate' User_list.id %}" method='post'style="margin-top: 10px;background-color: #48D1CC;">
            {% csrf_token %}  
                <div class="card-body">
                  <div class="form-group">
                    
                    <label for="exampleInputEmail1">first Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter user name:" name="first_name"value="{{ User_list.first_name }}">
                  </div>
                  <div class="form-group">
                    
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter user name:" name="last_name"value="{{ User_list.last_name}}">
                  </div>
                  <div class="form-group">
                    
                    <label for="exampleInputEmail1">username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter user name:" name="username" value="{{ User_list.username }}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">E-mail</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter email" value="{{ User_list.email }}" name="email">
                  </div>
                 
                    <div class="form-group">
                    <label for="sel1">Role</label>
                    <select class="form-control" id="sel1" placeholder="Enetr user_type" name="Roll" value="{{ User_list.Roll}}" >
                      <option>superAdmin</option>
                      <option>cityAdmin</option>
                      <option>subcityAdmin</option>
                      <option>cityStaff</option>
                      <option>subcityStaff</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" name="password">
                  </div>
                   
                  </div>
                  <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>-->
             

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
           
  <div class="col-sm-3"></div>
</div>


{% endblock content1 %}
