
{%extends 'cityadmin/template/index1.html'%}


{% block content1 %}
 
 <div class="card">
            <div class="card-header">
              <h3 class="card-title">Driver lists </h3>
            </div>
            <!-- /.card-header -->
             <div>        <!-- /.card-header -->
             
                  {% include "registration/messages.html" %}
 
              </div>
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>id</th>
                  <th>fistname</th>
                  <th>lastname</th>
                  <th>sex</th>
                  <th>driver licence</th>
                 <th>Action</th>
                </tr>
                </thead>
                <tbody>
             
              {% for d in driver %}
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.profile_id.first_name}}</td>
                    <td>{{d.profile_id.last_name}}</td>
                    <td>{{d.profile_id.sex}}</td>
          
            
                <td>{{d.driver_licence}}</td>

                    <td>
                <a href="#" class="btn btn-warning">Edit</a>
               <a href="#" class="btn btn-danger delete-user" onclick="return confirm('Are you sure?') ">Delete</a>
                    </td>
                </tr>
                  {% endfor %}
           
  
                </tbody>
                <tfoot>
                  <tr>
                    <th>id</th>
                  <th>fistname</th>
                  <th>lastname</th>
                  <th>sex</th>
                  <th>driver licence</th>
                 <th>Action</th>
                </tr>

                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>

{% endblock content1 %}
   