{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'sub_city_app/style.css' %}">
    <script type="text/javascript" src="{%static 'sub_city_app/javascript.js' %}" ></script>
    <script type="text/javascript">
        footerposition();
    </script>


	{%if title%}
	<title>{{title}}</title>
	{%else%}
	<title>EVDCS</title>
	{%endif%}
</head>
<body>

    <div id="sidebar">
        <div>
            <h3>EVDCS</h3>
            <span onclick="closesidebar()"><strong>&#9776;</strong></span>


        </div>
        <ul>
            <h4>Main</h4>
            <li><a href="#">Take attendance</a></li>
            <li><a href="#">Register driver</a></li>
            <li><a href="#">View deployment</a></li>
            <li><a href="#">View drivers</a></li>
            <li><a href="#">Regster user</a></li>
            <h4>Other</h4>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Setting</a></li>
            <li><a href="#">Help</a></li>

        </ul>
    </div>
    <div id="container">
        <header>
            <div class="home">
                <span onclick="opensidebar()"><strong>&#9776;</strong></span>
                <h3>EVDCS</h3>
            </div>

            <nav>
                <a href="#">Assignment</a>
                <a href="#">Static Infos</a>
                <a href="#">Attendace</a>
                <a href="#">Deployment</a>
            </nav>

        </header>


        <div id="section" class="section">

            <div class="main">
              {% block content %}{% endblock %}    
            </div>

            <div class="notificationbar">
                <ul>
                    <li><a href="#">2 drivers have requested atttendance</a></li>
                    <hr>
                    <li><a href="#">The assignment is working in 86%.other subcities might use your help</a></li>
                    <hr>
                    <li><a href="#">driver a have made his 3rd rejection to an assignment in this month. review his
                            reason</a></li>
                    <hr>
                    <li><a href="#">deployment will be made in 2 days</a></li>
                    <hr>
                    <li><a href="#">user a is approved by the central beauro</a></li>
                    <hr>
                    <li class="view_notification"><a style="color: black;" href="#">view all notifications...</a></li>
                </ul>
            </div>
        </div>
        
        <footer id="footer">@EVDCS2020</footer>

    </div>
</body>
</html>